<!-- main home contact fixed icon -->
<section class="main-section-contact">
    <div class="main-section-contact-wrap">
        <div class="main-section-contact-wrap-content">
            <div class="main-section-contact-wrap-items-mobile">
                <img class="img-fluid" src="{{ 'icon_mb.png' | asset_url }}" alt="">
            </div>
            <div class="main-section-contact-wrap-items" style="--i:0">
                <a href="tel:190638078">
                    <img class="img-fluid" src="{{ 'icon_right_01.png' | asset_url }}" alt="">
                </a>
            </div>
            <div class="main-section-contact-wrap-items" style="--i:1">
                <a href="">
                    <img class="img-fluid" src="{{ 'icon_right_02.png' | asset_url }}" alt="">
                </a>
            </div>
            <div class="main-section-contact-wrap-items" style="--i:2">
                <a href="">
                    <img class="img-fluid" src="{{ 'icon_right_03.png' | asset_url }}" alt="">
                </a>
            </div>
        </div>
    </div>
</section>