<!-- main home policy -->
<section class="main-section-policy">
    <div class="main-section-policy-wrap">
        <div class="container main-section-policy-content">
            <div class="main-section-policy-items">
                <img class="img-fluid" src="{{ 'web_homepage_icon_ft03.png' | asset_url }}" alt="">
                <span>Vận chuyển toàn quốc</span>
            </div>
            <div class="main-section-policy-items">
                <img class="img-fluid" src="{{ 'web_homepage_icon_ft02.png' | asset_url }}" alt="">
                <span>Hỗ trợ nhanh chóng</span>
            </div>
            <div class="main-section-policy-items">
                <img class="img-fluid" src="{{ 'web_homepage_icon_ft01.png' | asset_url }}" alt="">
                <span>Giá cả cạnh tranh</span>
            </div>
        </div>
    </div>
</section>