<a href="/pages/contact">
    <div class="content-wrap-product-img">
        <img class="img-fluid" src="{{ card_product.featured_image | image_url: width: 800 }}" alt="">
        <div class="content-wrap-product-img-button">
            <div class="wrapper">
                <div class="btn">
                    <div class="side default-side"></div>
                    <div class="side hover-side">Liên hệ</div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrap-product-title">
        {{ card_product.title }}
    </div>
</a>