<!-- main home category -->
<section class="main-section-category">
    <div class="main-section-category-title">
        <p>{{ section.settings.title-line-1 }}</p>
        <p>{{ section.settings.title-line-2 }}</p>
    </div>
    <div class="container main-section-category-content">
        {% for block in section.blocks %}
            <div class="main-section-category-items">
                <div class="main-section-category-items-wrap">
                    <div class="category-items-wrap__title">
                        {{ block.settings.image | image_url: height: 180 | image_tag: class: 'img-fluid' }}
                        <span class="category-items-wrap__title-label">{{ block.settings.title }}</span>
                    </div>
                    <div class="category-items-wrap__content">
                        <div class="category-items-wrap__content-wrap">
                            <div class="row content-wrap-product">
                                {% for product in block.settings.collection.products limit: block.settings.limit %}
                                    <div class="col-lg-3 col-6 content-wrap-product-items">
                                        {% render '_product', card_product: product %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="category-items-wrap__content-see-more">
                            {% render '_see-more', link-see-more: block.settings.link %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% schema %}
{
    "name": "Main Category",
    "tag": "section",
    "class": "section",
    "blocks": [
        {
            "type": "category",
            "name": "category",
            "settings": [
                {
                    "type": "inline_richtext",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link button"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                },
                {
                    "type": "range",
                    "id": "limit",
                    "min": 4,
                    "max": 16,
                    "step": 1,
                    "default": 8,
                    "label": "Limit"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "inline_richtext",
            "id": "title-line-1",
            "label": "Title Line 1"
        },
        {
            "type": "inline_richtext",
            "id": "title-line-2",
            "label": "Title Line 2"
        }
    ]
}
{% endschema %}