<style>
    .main-section-contact-mail-wrap{
        background-color: {{ section.settings.background-color }};
    }
</style>


<!-- main home contact -->
<section class="main-section-contact-mail">
    <div class="main-section-contact-mail-wrap">
        <div class="contact-mail-wrap-home__title">
            {{ section.settings.title }}
        </div>
        <div class="contact-mail-wrap-home__input">
            <input type="text" placeholder="Email của bạn">
            <a href="" class="btn">Gửi ngay</a>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Main home contact",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "inline_richtext",
            "id": "title",
            "label" :"Title"
        },
        {
            "type": "color_background",
            "id": "background-color",
            "label": "Background Color"
        }

    ]
}
{% endschema %}