<!-- main group gift -->
<section class="main-section-group-gift">
    <div class="container group-gift-wrap">
        <div class="group-gift-wrap-title">
            {{ section.settings.image | image_url: height: 270 | image_tag: class: 'img-fluid' }}
        </div>
        <div class="group-gift-wrap-content">
            <div class="group-gift-wrap-content-wrap">
                <div class="row content-wrap-product">
                    {% for product in section.settings.collection.products limit: section.settings.limit %}
                        <div class="col-lg-3 col-6 content-wrap-product-items">
                            {% render '_product', card_product: product %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="group-gift-wrap-content-see-more">
                {% render '_see-more', link-see-more: section.settings.see-more-link %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{   
    "name": "Main Section Gift",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "url",
            "id": "see-more-link",
            "label" :"See more link"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "limit",
            "min": 4,
            "max": 16,
            "step": 1,
            "default": 8,
            "label": "Limit"
        }

    ]
}
{% endschema %}