

/* #region main contact page */

.main-section-contact-page{
    font-family: "AveraStd-Bold";
    background-color: #fff;
    display: flex;
    align-items: center;
}

.main-section-contact-page-wrap{
    margin: 50px auto;
}

.main-section-contact-page-wrap-info{
    padding-right: 20px;
}

.main-section-contact-page-wrap-form {
    padding-left: 20px;
}

.main-section-contact-page-wrap-info-title,
.main-section-contact-page-wrap-form-title{
    font-size: 22px;
}

.main-section-contact-page-wrap-info-title div,
.main-section-contact-page-wrap-form-title p{
    color: #b5b5b5;
    font-size: 16px;
    margin-bottom: 20px;
}

.main-section-contact-page-wrap-info-map iframe{
    width: 100%;
    max-height: 300px;
}

.main-section-contact-page-wrap-info-mid{
    font-size: 22px;
    margin-top: 15px;
}

.main-section-contact-page-wrap-info-mid-items{
    margin: 10px 0;
}

.main-section-contact-page-wrap-info-mid-items img{
    width: 25px;
    margin-right: 10px;
}

.main-section-contact-page-wrap-info-mid-items a,
.main-section-contact-page-wrap-info-mid-items span{
    color: #b5b5b5;
    font-size: 16px;
}

.main-section-contact-page-wrap-info-bottom img{
    width: 50px;
}

.main-section-contact-page-wrap-form {
    font-family: "AveraStd-Semibold";
}

.contact-page-wrap-form-content-items{
    margin: 10px 0;
    font-size: 15px;
}

.contact-page-wrap-form-content-items-col{
    padding: 0;
}

.contact-page-wrap-form-content-items p{
    margin: 5px;
    color: #424242;
}

.contact-page-wrap-form-content-items span {
    color: red;
}

.contact-page-wrap-form-content-items input{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #010101;
}

.contact-page-wrap-form-content-items textarea {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #010101;
}

.contact-page-wrap-form-content-items input:focus,
.contact-page-wrap-form-content-items textarea:focus {
    outline: none;
}

.contact-page-wrap-form-content-items-col:first-child{
    padding-right: 10px;
}

.contact-page-wrap-form-content-items-col:last-child {
    padding-left: 10px;
}

.contact-page-wrap-form-content-bottom{
    margin-top: 10px;
    border-top: 1px solid #000;
    padding-top: 20px;
}

.contact-page-wrap-form-content-bottom-items{
    display: flex;
}

.contact-page-wrap-form-content-bottom-items > button{
    padding: 8px 15px;
    background: linear-gradient(0deg, rgba(18, 158, 70, 1) 32%, rgba(75, 195, 120, 1) 100%);
    color: #fff;
    font-size: 18px;
}

.contact-page-wrap-form-content-bottom-items>button:hover {
    background: linear-gradient(0deg, rgba(18, 158, 70, 1) 60%, rgba(75, 195, 120, 1) 100%);
    color: #fff;
}

.contact-page-wrap-form-content-bottom-items:first-child {
    justify-content: start;
}

.contact-page-wrap-form-content-bottom-items:last-child {
    justify-content: end;
    align-items: end;
}

.contact-page-wrap-form-content-items--label{
    display: flex;
    align-items: center;
}

.contact-page-wrap-form-content-items--label svg{
    width: 20px;
    margin-right: 5px;
}


@media only screen and (max-width: 991px) {

    .main-section-contact-page-wrap {
         margin: 20px auto;
    }

    .main-section-contact-page-wrap-form {
        margin-top: 25px;
        margin-bottom: 20px;
        
    }

    .main-section-contact-page-wrap-info {
        padding-right: 10px;
    }
    
    .main-section-contact-page-wrap-form {
        padding-left: 10px;
    }



}

@media only screen and (max-width: 661px) {

    .main-section-contact-page-wrap-info-title,
    .main-section-contact-page-wrap-form-title {
        font-size: 20px;
    }

    .main-section-contact-page-wrap-info-title div,
    .main-section-contact-page-wrap-form-title p {
        font-size: 14px;
    }

    .main-section-contact-page-wrap-info-mid{
        font-size: 20px;
    }

    .main-section-contact-page-wrap-info-mid-items a,
    .main-section-contact-page-wrap-info-mid-items span{
        font-size: 14px;
    }
}

/* #endregion main contact page */










